.CellInfo-contents{
    margin-bottom: 6px;
    color: #666;
}

.CellInfo-root.panel{
    padding: 5px 20px;
    font: "Lucida Console";
}

.CellInfo-root{
    position: sticky;
    top: 36px;
}
.buildingPane{
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}