.Cell-root {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    position: relative;

    --sea: #64a5c1;
    --land: lightgreen;
}

/*
Intentionally reversed. These are only visible when the associated Cell-content has a round border,
in order to smooth the neighbouring cells.
*/
.Cell-root.Sea {
    background-color: var(--land);
}

.Cell-root.Land, .Cell-root.Forest {
    background-color: var(--sea);
}

.Cell-content {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20%;
    overflow: hidden;
}

.Cell-content.top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.Cell-content.right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Cell-content.bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.Cell-content.left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.Cell-root.Sea .Cell-content {
    color: blue;
    background-color: var(--sea);
    background-image: url("/icons/sea.png");
}

.Cell-root.Land .Cell-content {
    color: yellow;
    background-color: var(--land);
}

.Cell-root.Forest .Cell-content {
    color: yellow;
    background-color: var(--land);
    background-image: url("/icons/forest.svg");
}

.Cell-root .Cell-content.remove {
    color: blue;
    background-color: red;
}

.Cell-root .Cell-content.logSelect{
    background-color: purple;
}

.Cell-root .Cell-content.clickSelect{
    background-color: yellow;
}

.Cell-root .Cell-content.fishingBoat {
    background-image: url("/icons/boat.svg");
}

.Cell-root .Cell-content.huntingShack {
    background-image: url("/icons/shack.svg");
}


.Cell-root .Cell-content.settlement{
    background-image: url("/icons/cabin.svg");
}

.Cell-root .Cell-content.cheapLumberMill{
    background-image: url("/icons/stump.svg");
}

.Cell-root .Cell-content.expensiveLumberMill{
    background-image: url("/icons/sawmill.svg");
}

.Cell-root .Cell-content.planting{
    background-image: url("/icons/sprout.svg");
}

.Cell-root .Cell-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.5;
}