.Cell-root {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    margin: 0;

    color: blue;
    /*background-color: lightblue;*/
    background-image:url("/icons/sea.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Cell-root.land {
    color: yellow;
    /*background-color: lightgreen;*/
    background-image: url("/icons/land.jpg");
}

.Cell-root.fish {
    color: red;
    background-image: url("/icons/boat.svg");
    background-color: #64a5c1;
}

.Cell-root.hunt {
    color: red;
    background-image: url("/icons/shack.svg");
    background-color: #cff181;
}

.Cell-root.farm{
    color: red;
    background-image:url("/icons/barn.svg");
    background-color:#cff181;
}