.Cell-root {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    margin: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Cell-root.sea {
    color: blue;
    background-color: #64a5c1;
    /*background-image: url("/icons/sea.jpg");*/

}

.Cell-root.land {
    color: yellow;
    /*background-image: url("/icons/land.jpg");*/
    background-color: lightgreen;
}

.Cell-root.forest{
    color: yellow;
    background-image: url("/icons/forest.svg");
    background-color: lightgreen;
}

.Cell-root.remove {
    color: blue;
    background-color: red;
}

.Cell-root.fishingBoat {
    color: red;
    background-image: url("/icons/boat.svg");
}

.Cell-root.huntingShack {
    color: red;
    background-image: url("/icons/shack.svg");
}

.Cell-root.animalFarm{
    color: red;
    background-image:url("/icons/barn.svg");
}

.Cell-root.settlement{
    color:red;
    background-image: url("/icons/cabin.svg");
}

.Cell-root.cheapLumberMill{
    color: red;
    background-image: url("/icons/stump.svg");
}

.Cell-root.expensiveLumberMill{
    color:red;
    background-image: url("/icons/sprout.svg");
}