.Map-root {
}

.Map-settings {
    position: absolute;
    top: 0;
    right: 0;
}

.Map-grid {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-auto-rows: 1fr;

    color: blue;
    background-color: gray;
}

.Map-grid::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1;
    grid-column: 1;
}

.Map-grid > *:first-child {
    grid-row: 1;
    grid-column: 1;
}