.Menu-bgimg {
    min-height: 100vh;
    line-height: 300px;/*This line gives the vertical spacing for title and button automatically*/

    /*background-image: url('./logo.jpg');*/
    background-size: auto;

    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu-button {
    background: linear-gradient(45deg, #64a5c1 30%, lightgreen 90%);
    border: 0;
    height: 150px;
    width: 300px;
}