.Menu-root {
    min-height: 100vh;

    text-align: center;

    display: flex;
    flex-direction: column;
}

.Menu-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    flex-grow: 1;

    font-size: 1.25rem;
}

.Menu-button {
    background: linear-gradient(45deg, #64a5c1 30%, lightgreen 90%);
    border: 0;
}

.Menu-root .Menu-button {
    min-width: 400px;
    min-height: 100px;

    font-size: 4rem;
}