
.test{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    color: white;
    height: 48px;
}
.bgimg {
    background-image: url('./logo.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;

}