.BuildingPane-root {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 1px solid lightgray;
}

.BuildingPane-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.125rem;
    margin-bottom: 8px;
}

.BuildingPane-header .filler {
    flex-grow: 1;
}

.BuildingPane-description {
    margin-bottom: 6px;
    color: #666;
}

.BuildingPane-footer {
    display: flex;
    justify-content: center;

    padding: 8px 16px;
}

.BuildingPane-footer .MuiButton-root {
    flex-grow: 1;
}

.BuildingPane-footer .MuiButton-root.BuildingPane-buy {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.BuildingPane-footer .MuiButton-root.BuildingPane-sell {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
