.Decisions-root {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.Decisions-root .filler {
    flex-grow: 1;
}

.Decisions-nextTurn.MuiButton-root {
    border-top: 1px solid lightgray;
    border-radius: 0;
}