.Decisions-root {
    width: 40%;
}
.tabs{
    width:100%;
    display:inline-block;
}
.tab-content{
    padding:15px;
    border-radius: 3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
}
.tab{
    display:none;
}
.tab.active{
    display:block;
}