.Decisions-root {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.Decisions-nextTurn.MuiButton-root {
    border-top: 1px solid lightgray;
    border-radius: 0;
}

.sliderPanel{
    border-bottom: 1px solid lightgray;
    padding: 5px 20px;
}